<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h3>New User Signup!</h3>
  	<ul>
  		<li>Name: <%= @apartment.name %></li>
  		<li>Email: <%= @apartment.email %></li>
  		<li>Street: <%= @apartment.street %> <%= @apartment.apt_num %></li>
  		<li>City/State/Zip: <%= @apartment.city %>, <%= @apartment.state %> <%= @apartment.zip_code %></li>
  		<li>Rent or Buy: <%= @apartment.rent_or_buy %></li>		
  	</ul>
  </body>
</html>