<%= form_for @review do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <p>Whoops! Looks like there are a few issues to sort out.</p>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
     </div>
  <% end %>

	<div class="field">
    <%= f.label "Apt ID:" %>
    <%= f.text_field :apartment_id %>
  </div>
  <div class="field">
    <%= f.label "Address:" %>
    <%= f.text_field :apartment, :placeholder => "Address" %>
  </div>
  <div class="field">
    <%= f.label "Title:" %>
    <%= f.text_field :title, :placeholder => "Review Title" %>
  </div>
  <div class="field">
    <%= f.label "Your Review:" %>
    <%= f.text_area :description, :placeholder => "Insert Review" %>
  </div>
  <div class="field">
    <%= f.label "Rating:" %>
    <%= f.text_field :overal_rating, :placeholder => "1 - 5" %>
  </div>

  <% @questions.each do |question| %>
    <div class="question">
      <%= f.label question.question %>
      <%= radio_button 'response', question.id, true %>
      <%= label 'response', :response, "Yes" %>
      <%= radio_button 'response', question.id, false %>
      <%= label 'response', :response, "No" %>
    </div>
  <% end %>

  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= f.submit "SUBMIT" %>
  </div>

<% end %>