<%= form_for(@apartment) do |f| %>
	<% if @apartment.errors.any? %>
		<div id="error_explanation">
      <p>Whoops! Looks like there are a few issues to sort out.</p>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
     </div>
	<% end %>

	<div class="field">
    <%= f.label "Name:" %>
    <%= f.text_field :name, :placeholder => "First and Last Name" %>
  </div>
  <div class="field">
    <%= f.label "Email:" %>
    <%= f.text_field :email, :placeholder => "smart_apt@gmail.com" %>
  </div>
 	<div class="field">
    <%= f.label 'Address:' %>
    <%= f.text_field :street, :placeholder => "Street" %>
    <span class="apt"><%= f.text_field :apt_num, :placeholder => "Apt" %></span>
  </div>
  <div class="field">
    <%= f.label ' ' %>
    <%= f.text_field :city, :placeholder => "City" %>
    <%= f.select :state, options_for_select(us_states) %>
    <%= f.text_field :zip_code, :placeholder => "Zip" %>
  </div>
  <div id="rent_buy" class="field">
    <%= f.label 'Interest:' %>
    <%= f.radio_button :rent_or_buy, "rent" %>
    <span id="rent_buy_label"><%= f.label :rent_or_buy, "Renting", value: "rent_or_buy" %></span>
    <%= f.radio_button :rent_or_buy, "buy" %>
    <span id="rent_buy_label"><%= f.label :rent_or_buy, "Buying", value: "rent_or_buy" %></span>
  </div>
  <div class="actions">
    <%= f.submit "SUBMIT" %>
  </div>

<% end %>