<div id=apt_index>
	<div id="listing_head">
		<h1>Aparment Reviews for <%= @apartment.street_address %> <%= @apartment.street %></h1>
		<%= link_to("Browse More Apartments", apartments_path) %>
	</div>
		<div class="listing">
			<div id="address">
				<div id="map_canvas"></div>
				<div id="addr_text">	
					<p><%= @apartment.street_address %> <%= @apartment.street %></p>
					<p><%= @apartment.city %> <%= @apartment.state %>, <%= @apartment.zip %></p>
				</div>
		</div>
			<% if @apartment.reviews.count > 0 %>
				<div id="cum_ratings">
						<h3>Aggregate Rating: <%= number_with_precision @apartment.avg_rating, precision: 1 %> / 5.0</h3>
						<% topics.each do |topic| %>
							<div class="topic">
								<h3><%= topic.titleize %></h3>
								<% @questions.where(category: topic).each do |question| %>
									<p><%= question.question %> <span class="response"><%= number_to_percentage(@apartment.cum_rating(question.id), precision: 0) %> said yes</span></p>
								<% end %>
							</div>
						<% end %>
				</div>
				<div class="reviews">
					<% @apartment.reviews.each do |review| %>
						<%= render partial: "review", locals: {review: review, apartment: @apartment} %>
					<% end %>
				</div>
			<% end %>
		</div>
</div>

<% map_key = ENV["LCLMAP"] %>
<%= javascript_tag '', type:'text/javascript', src:'http://maps.google.com/maps/api/js?key=' << map_key %>

<%= javascript_tag do %>
	window.full_address = "<%= @apartment.full_address %>";
	initialize(window.full_address);
<% end %>