<div id=apt_index>
	<br><br><br><br><br>
	<h1>Apartment Reviews</h1>
		<div class="listing">
			<h3>Address</h3>
			<p><%= @apartment.street_address %> <%= @apartment.street %></p>
			<p><%= @apartment.city %> <%= @apartment.state %>, <%= @apartment.zip %></p>
			<%= link_to("Back to Apartments", apartments_path) %>
			<% if @apartment.reviews.count > 0 %>
				<div class="reviews">
					<% @apartment.reviews.each do |review| %>
						<%= render partial: "review", locals: {review: review} %>
					<% end %>
				</div>
			<% end %>
		</div>
</div>